table.pokemon {line-height: 1.5em; text-align: center; font-size: 100%; white-space: nowrap;}
th.text {background-color: #000;}
th.stat {padding-left: 0.2em;padding-right: 0.2em;display: flex;justify-content: space-between;}
td.statbar {width: 255px}
td.statbar .health {background-color: #69DC12;border: 1px solid #c6f8a0;height: 100%}
td.statbar .attack {background-color: #EFCC18;border: 1px solid #f5e9a3;height: 100%}
td.statbar .defence {background-color: #E86412;border: 1px solid #f8c2a0;height: 100%}
td.statbar .special_attack {background-color: #14C3F1;border: 1px solid #a0e6f8;height: 100%}
td.statbar .special_defence {background-color: #4A6ADF;border: 1px solid #b3bee6;height: 100%}
td.statbar .speed {background-color: #D51DAD;border: 1px solid #f3a5e1;height: 100%}
model-viewer {height: 300px; width: 100%;}
.typebox {font-size: 85%; line-height:12px; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px; -icab-border-radius: 2px; -o-border-radius: 2px;}
.Normal {background: #9FA19F}
.Fire {background: #E62829}
.Fighting {background: #FF8000}
.Water {background: #2980EF}
.Flying {background: #81B9EF}
.Grass {background: #3FA129}
.Poison {background: #9141CB}
.Electric {background: #FAC000}
.Ground {background: #915121}
.Psychic {background: #EF4179}
.Rock {background: #AFA981}
.Ice {background: #3DCEF3}
.Bug {background: #91A119}
.Dragon {background: #5060E1}
.Ghost {background: #704170}
.Dark {background: #624D4E}
.Steel {background: #60A1B8}
.Fairy {background: #EF70EF}
.shiny-toggle {cursor: pointer; border: 1px solid #fff; background-color: #000;}