{% extends 'header.html' %}

{% block title %}Credits - {{ super() }}{% endblock %}

{% block extra_head %}
<style>
    .holder {display:flex; margin-bottom:10px; margin-top:10px; background:#111; border:1px solid #333; border-radius:20px; flex-wrap: wrap; justify-content:center; flex-direction:row; gap:1rem; padding:1rem 1rem;}
    .entry {border:2px dotted #444; background:#000; border-radius:20px; min-width:220px; display:flex; justify-content:center; flex-direction:column; padding:1.5rem; gap:5px; flex:1;}
    .entry a {text-align:center; font-size:200%; border-bottom:1px solid #444; padding-bottom:6px; margin-bottom:6px;}
    .entry p {text-decoration:none;}
</style>
{% endblock %}

{% block body %}
<main style="flex: 0;">

    <h1 style="border-bottom:1px solid #333">Credits</h1>

    <p style="margin-top:10px;margin-bottom:20px;">Thank you to our wonderful staff team, and to all the original datapack/resourcepack/mod creators listed below.</p>

    <div class="holder">
        <div class="entry">
            <a href="https://modrinth.com/datapack/ggt-pack">GG&T (Goombia)</a>
            <p>Fakemon</p>
        </div>
        <div class="entry">
            <a href="https://modrinth.com/datapack/lasers-fakemon-pack">Laser's Fakemon Pack</a>
            <p>Fakemon</p>
        </div>
        <div class="entry">
            <a href="https://discord.com/channels/1341485938181931098/1483502822501781658">Community Megas</a>
            <p>Fakemon</p>
            <p style="font-size:80%; color:#aaa">Thanks to ScarlettFrost, KizuatoGlitch, and Pizzapie</p>
        </div>
        <div class="entry">
            <a href="https://modrinth.com/datapack/complete-cobblemon-collection-myths-and-legends-compat">Complete Cobblemon Collection</a>
            <p>Pokemon</p>
        </div>
        <div class="entry">
            <a href="https://modrinth.com/datapack/cobblemon-northala-region">Northala Region</a>
            <p>Fakemon</p>
        </div>
        <div class="entry">
            <a href="https://modrinth.com/datapack/cobblemon-frontiers-datapack">Cobblemon Frontiers</a>
            <p>Fakemon</p>
        </div>
        <div class="entry">
            <a href="https://modrinth.com/datapack/extra-eeveelutions">Extra Eeveelutions</a>
            <p>Fakemon</p>
        </div>
        <div class="entry">
            <a href="https://modrinth.com/datapack/triple-bakalutions">Triple Bakalutions</a>
            <p>Fakemon</p>
        </div>
        <div class="entry">
            <a href="https://modrinth.com/datapack/altered-pokemon">Altered Pokemon</a>
            <p>Fakemon</p>
        </div>
        <div class="entry">
            <a href="https://modrinth.com/datapack/altered-additions">Altered Additions</a>
            <p>Fakemon</p>
        </div>
        <div class="entry">
            <a href="https://modrinth.com/datapack/lasers-fakemon-pack">Laser's Additions</a>
            <p>Learnsets</p>
        </div>
        <div class="entry">
            <a href="https://modrinth.com/mod/fais-mythical-monstrosities">Fai's  Mythical Monstrosities</a>
            <p>Fakemon + Weather</p>
        </div>
    </div>

    <div class="holder">
        <div class="entry">
            <a href="https://www.curseforge.com/minecraft/mc-mods/cobblemon">Cobblemon</a>
            <p>Mod</p>
        </div>
        <div class="entry">
            <a href="https://www.curseforge.com/minecraft/mc-mods/origins">Origins</a>
            <p>Mod</p>
        </div>
        <div class="entry">
            <a href="https://www.curseforge.com/members/daedelus_dev/projects">RPG Series</a>
            <p>Series</p>
        </div>
        <div class="entry">
            <a href="https://modrinth.com/mod/cobblemon-mega-showdown">Mega Showdown</a>
            <p>Mod</p>
        </div>
        <div class="entry">
            <a href="https://www.curseforge.com/minecraft/mc-mods/farmers-delight-refabricated">Farmer's Delight Refabricated</a>
            <p>Mod</p>
        </div>
        <div class="entry">
            <a href="https://www.curseforge.com/minecraft/mc-mods/natures-spirit">Nature's Spirit</a>
            <p>Mod</p>
        </div>
        <div class="entry">
            <a href="https://www.curseforge.com/members/xaero96/projects">Xaero's Maps + OPAC</a>
            <p>Series</p>
        </div>
        <div class="entry">
            <a href="https://www.curseforge.com/members/yungnickyoung/projects">YUNG's Structures</a>
            <p>Series</p>
        </div>
        <div class="entry">
            <a href="https://www.curseforge.com/minecraft/mc-mods/waystones">Waystones</a>
            <p>Mod</p>
        </div>
        <div class="entry">
            <a href="https://www.curseforge.com/minecraft/mc-mods/trinkets">Trinkets</a>
            <p>Mod</p>
        </div>
        <div class="entry">
            <a href="https://www.curseforge.com/minecraft/mc-mods/simply-swords">Simply Swords</a>
            <p>Mod</p>
        </div>
        <div class="entry">
            <a href="https://www.curseforge.com/members/sketch_macaw/projects">Macaw's Decor</a>
            <p>Series</p>
        </div>
    </div>

</main>
{% endblock %}