{% extends 'header.html' %}

{% block title %}Default Moves - {{ super() }}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/simpletable.css') }}">
{% endblock %}

{% block body %}
<main>
    <h2>Default Moves</h2>
    <p>All of the default, non-custom move data will go here. Eventually. Part way there already.</p>
    <p style="margin-top: 20px; color: #666; font-size: 14px; margin-bottom: 10px">Click on any column header to sort the table.</p>
    <div id="table"></div>
</main>
<script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
<script type="module" src="{{ url_for('static', filename='js/cache-check.js') }}"></script>
<script type="module">
    import { get_moves } from `{{ url_for('static', filename='js/cache-check.js' )}}`;

    async function make_table() {
        let all_moves = await get_moves();

        all_moves = Object.values(all_moves).sort((a, b) => a.num - b.num);
        let moves = [];
        for (let i = 0; i < all_moves.length; i++) {
            if (all_moves[i] && all_moves[i].is_fake == 0) {
                moves.push(all_moves[i]);
            }
        }
        
        new gridjs.Grid({
            columns: [
            {name:"Name",width:"160px", formatter: (cell, row) => gridjs.html(`<a href='/moves/${row.cells[1].data}'>${cell}</a>`)},
            {name:"",hidden:true},
            {name:"",width:"30px",formatter: (cell, row) => gridjs.html(`<div style="height:100%; width:100%;"><img style="height:24px; width:24px; display:block; margin:auto; image-rendering:pixelated" src="/types/${cell}.png" title="${cell}" alt="${cell}"></div>`)},
            {name:"",width:"30px",formatter: (cell, row) => gridjs.html(`<div style="height:100%; width:100%;"><img style="height:24px; width:36px; display:block; margin:auto; image-rendering:pixelated" src="/categories/${cell}.png" title="${cell}" alt="${cell}"></div>`)},
            {name:"PP"},
            {name:"Power",formatter: (cell, row) => {
                if(cell == 0) {
                    return gridjs.html(`-`)
                } else {
                    return gridjs.html(`${cell}`)
                }
            }},
            {name:"Accuracy",formatter: (cell, row) => {
                if(cell == 999) {
                    return gridjs.html(`-`)
                } else {
                    return gridjs.html(`${cell}%`)
                }
            }},
            {name:"Target"},
            {name:"Flags"}],
            data: moves.map(emp => [
                emp.name,
                emp.id,
                emp.type,
                emp.category,
                emp.pp,
                emp.basePower,
                emp.accuracy,
                emp.target,
                emp.flags
            ]),
            sort: true,
            style: {
                table: {
                    border: '3px solid #fff',
                    width: 'auto'
                },
                th: {
                    'background-color': '#333',
                    color: '#fff',
                    'border-bottom': '3px solid #fff',
                    padding: "4px"
                },
                td: {
                    'background-color': '#000',
                    color: '#fff',
                    border: '1px solid #ccc',
                    padding: "4px"
                }
            }
        }).render(document.getElementById('table'));
    }

    document.addEventListener('DOMContentLoaded', () => {
        make_table();
    });
</script>
{% endblock %}