{% extends 'header.html' %}

{% block title %}Fakemon - C&O Wiki{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/typecolors.css') }}">
{% endblock %}

{% block body %}
<main>
    <h2>Fakemon</h2>
    <p>All of the fakemon species data will be listed here.</p>
    <p>Only a select few have models, as I haven't found a way to automate the full process yet.</p>
    <p style="margin-top: 20px; color: #666; font-size: 14px; margin-bottom: 10px">Click on any column header to sort the table.</p>
    <div id="table"></div>
</main>
<script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
<script>
    const fakemon = {{ fakemon | tojson }};
    
    new gridjs.Grid({
        columns: [
            {name:"Dex",width:"50px"}, 
            {name:"Name",width:"110px", formatter: (cell, row) => gridjs.html(`<a href='/species/${row.cells[11].data}'>${cell}</a>`)}, 
            {name:"Type",width:"120px", formatter: (cell, row) => {
                if (row.cells[3].data) {
                    return gridjs.html(`<table width="100%" height="100%"><tbody><tr style="text-align:center"><td width="50%" class="${cell} roundy">${cell}</td><td width="50%" class="${row.cells[3].data} roundy">${row.cells[3].data}</td></tr></tbody></table>`)
                } else {
                    return gridjs.html(`<div class="${cell} roundy" style="margin:0px 2px"><p style="text-align:center;background:transparent">${cell}</p></div>`)
                }
            }, attributes: (cell) => {
                if (cell) {
                    return {
                        'style': 'padding: 0px; background:#000; color:#fff'
                    }
                }
            }}, 
            {name:"Type2",width:"10px",hidden:true}, 
            {name:"HP",width:"50px"}, 
            {name:"Atk",width:"50px"}, 
            {name:"Def",width:"50px"}, 
            {name:"SpA",width:"50px"}, 
            {name:"SpD",width:"50px"}, 
            {name:"Spe",width:"50px"}, 
            {name:"BST",width:"50px"},
            {name:"internal_name",hidden:true},
            {name:"Catch Rate",width:"80px"}],
        data: fakemon.map(emp => [
            emp.national_pokedex_number,
            emp.name,
            emp.primary_type,
            emp.secondary_type,
            emp.hp,
            emp.attack,
            emp.defence,
            emp.special_attack,
            emp.special_defence,
            emp.speed,
            emp.total,
            emp.internal_name,
            emp.catch_rate_raw
        ]),
        sort: true,
        style: {
            table: {
                border: '3px solid #fff'
            },
            th: {
                'background-color': '#333',
                color: '#fff',
                'border-bottom': '3px solid #fff',
                padding: "4px 0px 4px 4px"
            },
            td: {
                'background-color': '#000',
                color: '#fff',
                border: '1px solid #ccc',
                padding: "4px"
            }
        }
    }).render(document.getElementById('table'));
</script>
{% endblock %}