<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>C&O Wiki</title>
        <link rel="stylesheet" href="./css/simpletable.css">
        <link rel="icon" type="image/svg+xml" href="/favicon.ico">
        <style>
            * { margin: 0; padding: 0; box-sizing: border-box; }
            body {font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;; background-color: #000000; color: #ffffff; line-height: 1.6; min-height: 100vh; display: flex; flex-direction: column;}
            header { border-bottom: 1px solid #333333; padding: 0; }
            nav {max-width: 1200px; margin: 0 auto; display: flex; align-items: center; padding: 1rem 2rem; gap: 2rem;}
            .logo { font-size: 1.25rem; font-weight: 600; color: #ffffff; text-decoration: none; }
            .nav-links { display: flex; gap: 1.5rem; margin-left: auto; }
            .nav-links a { text-decoration: none; color: #888888; padding: 0.5rem 1rem; border-radius: 6px; transition: all 0.2s ease; font-size: 0.875rem; font-weight: 500; }
            .nav-links a:hover { color: #ffffff; background-color: #111111; }
            main { max-width: 900px; flex: 1; width: 90%; margin: 2rem auto; padding: 2rem 2rem; display: flex; flex-direction: column; text-align: left; border-radius: 8px; border: 1px solid #333333; }
            h1 { font-size: 3rem; font-weight: 700; margin-bottom: 1rem; color: #ffffff }
            h2 { font-size: 2rem; font-weight: normal; display: block; border-bottom: 1px solid #333333; margin-bottom: 1rem; }
        </style>
    </head>
    <body>
        <header>
            <nav>
                <a href="/" class="logo">C&O Wiki</a>
                <div class="nav-links">
                    <a href="/species">Fakemon</a>
                    <a href="/moves">Moves</a>
                </div>
            </nav>
        </header>
        {% block body %}

        {% endblock %}
    </body>
</html>