{% extends 'header.html' %}

{% block extra_head %}
<style>
    .card {display:flex; flex-direction:column; gap:2px;}
    .card .image {flex:1; min-height:0; padding:5px 0px 0px; border-radius:8px; display:flex; align-items: center; justify-content: center; flex-direction: column;}
    img {width: 6rem; height: 6rem; margin: 15px; }
    .card .caption {flex-shrink:0; text-align:center; font-size:120%; margin: 0px 0px 5px 0px;}
    .align-center {margin: 0 auto; display:table; border-collapse: collapse; clear: none; float: none;}
    .log {padding:10px 0px 0px 0px; margin: 0rem 0rem 0rem 1.6rem;}
    .log li {margin-bottom:0.3rem;margin-right:1rem;}
    .log p {font-weight:bold; margin-bottom:0.6rem;margin-top:0.1rem}
</style>
{% endblock %}

{% block body %}
<div style="display:flex; margin: 2rem auto; max-width: 1200px; width:90%; padding: 2rem 2rem; gap:12px; margin-top:21px; margin-bottom:21px; flex-wrap:wrap;">

    <div style="display:grid; grid-template-columns:repeat(2, 1fr); grid-template-rows: repeat(3, 1fr); gap: 6px; height:600px; padding:16px; border-radius: 8px; border: 1px solid #333333;">
        <div class="card">
            <div class="image" style="border:3px solid #bbb">
                <a title="Fakemon" href="/fakemon">
                    <img src="https://wiki.cobblemon.com/images/c/c8/Magikarp_%28model%2C_wireframe%29.png" style="width: 4.6rem">
                </a>
                <a class="caption" href="/fakemon">Fakemon</a>
            </div>
        </div>
        <div class="card">
            <div class="image" style="border:3px solid #bbb">
                <a title="Species" href="/species">
                    <img src="https://wiki.cobblemon.com/images/3/33/Bulbasaur_%28model%29.png">
                </a>
                <a class="caption" href="/species">Species</a>
            </div>
        </div>
        <div class="card">
            <div class="image" style="border:3px solid #bbb">
                <a title="New Moves" href="/cmoves">
                    <img src="/types/Fire.png" style="image-rendering:pixelated">
                </a>
                <a class="caption" href="/cmoves">New Moves</a>
            </div>
        </div>
        <div class="card">
            <div class="image" style="border:3px solid #bbb">
                <a title="All Moves" href="/moves">
                    <img src="/types/Normal.png" style="image-rendering:pixelated">
                </a>
                <a class="caption" href="/moves">All Moves</a>
            </div>
        </div>
        <div class="card">
            <div class="image" style="border:3px solid #bbb">
                <a title="Bluemap" href="http://67.189.184.7:25566/">
                    <img src="https://cdn.modrinth.com/data/swbUV1cr/b9a17ab8c850046101a47e62037225c9b007a2ca_96.webp" style="border-radius:24px;">
                </a>
                <a class="caption" href="http://67.189.184.7:25566/">Bluemap</a>
            </div>
        </div>
        <div class="card">
            <div class="image" style="border:3px solid #bbb">
                <a title="Discord" href="https://discord.gg/hZ3QReRAcu">
                    <img src="https://wiki.cobblemon.com/images/d/dd/Discord.png">
                </a>
                <a class="caption" href="https://discord.gg/hZ3QReRAcu">Discord</a>
            </div>
        </div>
    </div>

    <div style="height: 600px; padding:24px; border-radius: 8px; border: 1px solid #333333;">
        <img src="/group_photo.png" title="Group photo at the end of C&O Season 1" alt="Group photo at the end of C&O Season 1" style="width:100%; height:auto; max-width:600px; border-radius:30px;">
        <h2>Welcome to the Cobblemon & Origins Wiki.</h2>
        <p>This is incredibly work-in-progress. There is a lot of information that isnt yet on display.</p>
        <p>The header has links, as well as several showcases to the left.</p>
    </div>

    <div style="height:auto; padding:24px; border-radius:8px; border:1px solid #333; width:auto;">
        <h1 style="font-size:2rem; border-bottom: 1px solid #333;">Todo</h1>
        <div style="height:auto; overflow-y: auto; max-height:400px">
            <ul class="log">
                <li>Species forms (fakemon and default)</li>
                <li>Abilities (new and default)</li>
                <li>Pokemon Drops</li>
                <li>Pokemon Learnsets</li>
                <li>Origins information</li>
                <li>Page for specific move</li>
                <li>Page for specific ability</li>
                <li>Pages for specific pokemon searches</li>
                <li>Credits page for original mod makers</li>
                <li>Automation for 3D models</li>
                <li>Website optimizations</li>
                <li>Better website styling</li>
                <li>Add more to the todo list</li>
            </ul>
        </div>
    </div>

    <div style="height:auto; padding:24px; border-radius:8px; border:1px solid #333; width:auto;">
        <h1 style="font-size:2rem; border-bottom: 1px solid #333;">Changelog</h1>
        <div style="height:auto; overflow-y: auto; max-height:400px">
            <ul class="log">
                <p>March 15</p>
                <li>Todo list and changelog</li>
                <li>Staff page</li>
                <li>Group photo on homepage</li>
                <li>Species categories for default pokemon</li>
                <li>Type icons in 3D viewport</li>
                <li>Fixed species fallback image bug</li>
                <li>Fallback images now use model-viewer poster</li>
                <li>Random species to "Pokemon" header dropdown</li>
                <li>New homepage card for "All Species" page</li>
                <li>Added random species lookup</li>
                <li>Restyled homepage cards</li>
                <li>Removed cosmetic type lineup header</li>
                <p>March 14</p>
                <li>Attempting to reduce repeat image requests</li>
                <li>Using fallback image for default pokemon</li>
                <li>Alt/Title text for images</li>
                <li>Page for table of all species</li>
                <li>Homepage card for new and all moves</li>
                <li>Bluemap card & link</li>
                <li>Discord card & link</li>
                <li>Changing universal table formatting</li>
                <li>Full move DB and pages for new and all moves</li>
                <li>Dropdown menu in header</li>
                <p>March 13</p>
                <li>Numerous small fixes</li>
                <li>Move reformat and sorting improvements</li>
                <li>Icons for types/move categories</li>
                <li>Homepage cards for quick links</li>
                <p>March 12</p>
                <li>Full Willoch line models shiny+emissive</li>
                <li>Aloette model shiny+emissive</li>
                <li>Full Nurumone line models shiny</li>
                <li>Evereon model shiny+emissive</li>
                <li>Full Amperox line models shiny+emissive</li>
                <li>Magnipulo model shiny+emissive</li>
                <li>Height & Weight on species tables</li>
                <li>Fixing floating point error in javascript</li>
                <li>Making convertors for m->ft and kg->lbs</li>
                <li>Height & Weight on species specific pages</li>
                <p>March 11</p>
                <li>Full Snowgirl line models shiny</li>
                <li>Full Pillowisp line models shiny+emissive</li>
                <li>Fixing animations that dont have a set length</li>
                <li>Full Cigarat line models shiny+emissive</li>
                <li>Full Puffoon line models shiny</li>
                <li>Full Bamzu line models shiny</li>
            </ul>
        </div>
    </div>

</div>
{% endblock %}