{% extends 'header.html' %}

{% block extra_head %}
<style>
    .card {display:flex; flex-direction:column; gap:2px;}
    .card .image {flex:1; min-height:0; padding:5px 0px 0px; border-radius:8px; display:flex; align-items: center; justify-content: center; flex-direction: column;}
    img {width: 6rem; height: 6rem; margin: 15px; }
    .card .caption {flex-shrink:0; text-align:center; font-size:120%; margin: 0px 0px 5px 0px;}
    .align-center {margin: 0 auto; display:table; border-collapse: collapse; clear: none; float: none;}
    .log {padding:10px 0px 0px 0px; margin: 0rem 0rem 0rem 1.6rem;}
    .log li {margin-bottom:0.3rem;margin-right:1rem;}
    .log p {font-weight:bold; margin-bottom:0.4rem; margin-top:1rem; font-size:120%; width:75%; border-bottom:1px solid #666;}
    .speech-bubble {position:relative; background:#000; border:2px solid white; border-radius: 8px; padding: 8px; width:auto; margin:12px}
    .speech-bubble:before {content:''; position:absolute; right:-24px; top:20%; width:0; height:0; border-style: solid; border-width: 10px 0px 10px 22px; border-top-color:transparent; border-right-color:white; border-bottom-color:transparent; border-left-color:white;}
    .speech-bubble:after {content:''; position:absolute; right:-24px; top:20%; width:0; height:0; border-style: solid; border-width: 9px 0px 9px 21px; border-top-color:transparent; border-right-color:black; border-bottom-color:transparent; border-left-color:black; margin-top:1px; margin-right:5px;}
</style>
{% endblock %}

{% block body %}
<div style="display:flex; margin: 2rem auto; max-width: 1200px; width:90%; padding: 2rem 2rem; gap:12px; margin-top:21px; margin-bottom:21px; flex-wrap:wrap;">

    <div style="display:grid; grid-template-columns:repeat(2, 1fr); grid-template-rows: repeat(3, 1fr); gap: 6px; height:600px; padding:16px; border-radius: 8px; border: 1px solid #333333;">
        <div class="card">
            <div class="image" style="border:3px solid #bbb">
                <a title="Fakemon" href="/fakemon">
                    <img src="https://wiki.cobblemon.com/images/c/c8/Magikarp_%28model%2C_wireframe%29.png" style="width: 4.6rem">
                </a>
                <a class="caption" href="/fakemon">Fakemon</a>
            </div>
        </div>
        <div class="card">
            <div class="image" style="border:3px solid #bbb">
                <a title="Origins" href="/origins">
                    <img src="https://cdn.modrinth.com/data/3BeIrqZR/icon.png">
                </a>
                <a class="caption" href="/origins">Origins</a>
            </div>
        </div>
        <div class="card">
            <div class="image" style="border:3px solid #bbb">
                <a title="Modpack" href="https://www.curseforge.com/minecraft/modpacks/cobblemon-and-origins">
                    <img src="/curseforge.png" style="border-radius:24px;">
                </a>
                <a class="caption" href="https://www.curseforge.com/minecraft/modpacks/cobblemon-and-origins">Modpack</a>
            </div>
        </div>
        <div class="card">
            <div class="image" style="border:3px solid #bbb">
                <a title="Bluemap" href="http://67.189.184.7:25566/">
                    <img src="https://cdn.modrinth.com/data/swbUV1cr/b9a17ab8c850046101a47e62037225c9b007a2ca_96.webp" style="border-radius:24px;">
                </a>
                <a class="caption" href="http://67.189.184.7:25566/">Bluemap</a>
            </div>
        </div>
        <div class="card">
            <div class="image" style="border:3px solid #bbb">
                <a title="Discord" href="https://discord.gg/hZ3QReRAcu">
                    <img src="/discord.png">
                </a>
                <a class="caption" href="https://discord.gg/hZ3QReRAcu">Discord</a>
            </div>
        </div>
        <div class="card">
            <div class="image" style="border:3px solid #bbb">
                <a title="GitHub" href="https://github.com/NoeSilent2/cno_wiki">
                    <img src="/github.png">
                </a>
                <a class="caption" href="https://github.com/NoeSilent2/cno_wiki">GitHub</a>
            </div>
        </div>
    </div>

    <div style="height: 600px; padding:24px; border-radius: 8px; border: 1px solid #333333;">
        <img src="/group_photo.png" title="Group photo at the end of C&O Season 1" alt="Group photo at the end of C&O Season 1" style="width:100%; height:auto; max-width:600px; border-radius:30px;">
        <h2>Welcome to the Cobblemon & Origins Wiki.</h2>
        <p>This is incredibly work-in-progress. There is a lot of information that isnt yet on display.</p>
        <p>The header has links, as well as several showcases to the left.</p>
    </div>

    <div style="height:auto; padding:24px; border-radius:8px; border:1px solid #333; width:auto;">
        <h1 style="font-size:2rem; border-bottom: 1px solid #333;">Todo</h1>
        <div style="height:auto; overflow-y: auto; max-height:400px">
            <ul class="log">
                <li>Tags for which datapack adds what</li>
                <li>Navigate to Dex# adjacent pokemon</li>
                <li>Bold species moves with STAB</li>
                <li>Reformat evolution information</li>
                <li>alt_internal_name override values</li>
                <li>Page for specific ability</li>
                <li>Species tables similar cell merging</li>
                <li>Pages for specific pokemon searches</li>
                <li>Language file integration</li>
                <li>Automation for 3D models</li>
                <li>Website optimizations</li>
                <li>Better website styling</li>
                <li>Add more to the todo list</li>
            </ul>
        </div>
    </div>

    <div style="height:auto; padding:24px; border-radius:8px; border:1px solid #333; width:auto;">
        <h1 style="font-size:2rem; border-bottom: 1px solid #333;">Changelog</h1>
        <div style="height:auto; overflow-y: auto; max-height:400px">
            <ul class="log">
                <p>April 3</p>
                <li>Public website release!</li>
                <li>Credits page tweaks</li>
                <li>Staff page tweaks</li>
                <li>Final optimizations for website release</li>
                <p>April 2</p>
                <li>Species specific ability hover info</li>
                <li>Ability DB integration</li>
                <li>Credits page</li>
                <li>Origins info page</li>
                <li>Update staff icons</li>
                <li>super page names</li>
                <p>March 32</p>
                <li>AI assistant that sniffs farts</li>
                <p>March 31</p>
                <li>Proper ability names</li>
                <p>March 30</p>
                <li>Small changelog style tweaks</li>
                <li>Mixed search results (species/moves)</li>
                <li>Updated font-awesome integration</li>
                <li>Numerous move-specific style changes</li>
                <li>Move specific pages</li>
                <li>All move caching converts array to dict</li>
                <li>Removed moves_dict.json</li>
                <li>DB integrated moves & move caching</li>
                <p>March 29</p>
                <li>Fixed numerous spawn_pool related bugs</li>
                <li>Added rudimentary search functions</li>
                <li>Unified species tables in DB</li>
                <li>Species specific DB integration</li>
                <li>Removed all species files in place of wiki.db</li>
                <p>March 28</p>
                <li>Backend DB work</li>
                <p>March 27</p>
                <li>Updated some species_additions</li>
                <p>March 26</p>
                <p>March 25</p>
                <li>Lots of spawn data bugfixes</li>
                <li>Spawn data with styling</li>
                <p>March 24</p>
                <p>March 23</p>
                <li>Fossilmon page</li>
                <li>Fossil data</li>
                <p>March 22</p>
                <li>Half-finished pre-evolutions</li>
                <li>Moderate species-specific format changes</li>
                <p>March 21</p>
                <li>Major caching for Gary</li>
                <li>dmoves with caching</li>
                <li>Caching for cmoves</li>
                <p>March 20</p>
                <li>Improved learnset information/styling</li>
                <li>Below stuff is for big optimizations</li>
                <li>Caches move data for species pages</li>
                <li>Experimenting with caching</li>
                <p>March 19</p>
                <li>Placeholder learnset information</li>
                <li>Experiencing sleep deprivation</li>
                <li>Major data rebase</li>
                <li>Custom Mega information</li>
                <li>Improved backend code</li>
                <li>Pokemon drop information</li>
                <li>species_additions data</li>
                <p>March 18</p>
                <li>Collapsible tabs in species data</li>
                <li>Watching One Piece S2 (Netflix)</li>
                <p>March 17</p>
                <li>Poorly formatted evolution info</li>
                <li>Catch rate, egg groups, and leveling rate info</li>
                <li>Fixed shiny button</li>
                <li>Gary's Corner</li>
                <li>Pokemon of the day</li>
                <li>Broke shiny toggle on species specific pages</li>
                <li>Fixes for images of base pokemon forms</li>
                <li>Leet Gmax sizes</li>
                <li>Fixed species specific pages</li>
                <p>March 16</p>
                <li>Broke species specific pages, to be fixed</li>
                <li>Species & Fakemon lists now have forms</li>
                <li>Huge data scraper overhaul to work with forms</li>
                <p>March 15</p>
                <li>Updating pokemon data for supporter beta release</li>
                <li>Small fixes</li>
                <li>Staff page improvements</li>
                <li>Todo list and changelog</li>
                <li>Staff page</li>
                <li>Group photo on homepage</li>
                <li>Species categories for default pokemon</li>
                <li>Type icons in 3D viewport</li>
                <li>Fixed species fallback image bug</li>
                <li>Fallback images now use model-viewer poster</li>
                <li>Random species to "Pokemon" header dropdown</li>
                <li>New homepage card for "All Species" page</li>
                <li>Added random species lookup</li>
                <li>Restyled homepage cards</li>
                <li>Removed cosmetic type lineup header</li>
                <p>March 14</p>
                <li>Attempting to reduce repeat image requests</li>
                <li>Using fallback image for default pokemon</li>
                <li>Alt/Title text for images</li>
                <li>Page for table of all species</li>
                <li>Homepage card for new and all moves</li>
                <li>Bluemap card & link</li>
                <li>Discord card & link</li>
                <li>Changing universal table formatting</li>
                <li>Full move DB and pages for new and all moves</li>
                <li>Dropdown menu in header</li>
                <p>March 13</p>
                <li>Numerous small fixes</li>
                <li>Move reformat and sorting improvements</li>
                <li>Icons for types/move categories</li>
                <li>Homepage cards for quick links</li>
                <p>March 12</p>
                <li>Full Willoch line models shiny+emissive</li>
                <li>Aloette model shiny+emissive</li>
                <li>Full Nurumone line models shiny</li>
                <li>Evereon model shiny+emissive</li>
                <li>Full Amperox line models shiny+emissive</li>
                <li>Magnipulo model shiny+emissive</li>
                <li>Height & Weight on species tables</li>
                <li>Fixing floating point error in javascript</li>
                <li>Making convertors for m->ft and kg->lbs</li>
                <li>Height & Weight on species specific pages</li>
                <p>March 11</p>
                <li>Full Snowgirl line models shiny</li>
                <li>Full Pillowisp line models shiny+emissive</li>
                <li>Fixing animations that dont have a set length</li>
                <li>Full Cigarat line models shiny+emissive</li>
                <li>Full Puffoon line models shiny</li>
                <li>Full Bamzu line models shiny</li>
            </ul>
        </div>
    </div>

    <div style="height: 100%; padding:24px; border-radius: 8px; border:1px solid #333; display:flex; flex-wrap:wrap; flex-direction:column; min-width:336px;">
        <h2>Gary's Corner</h2>
        <div style="width:auto; display:flex; flex-wrap:wrap; flex-direction:row-reverse; align-items:flex-start; justify-content:flex-end;">
            <img src="/gary.png" style="width:90%;height:auto;margin:0px;max-width:100px">
            <div class="speech-bubble">
                <p>hi there, im gary!</p>
                <p>i like this pokemon!</p>
            </div>

            <div id="gary-pokemon" style="border:1px solid #333; border-radius: 6px; display: flex; flex-direction:column; align-items: center;">
            </div>
        </div>
    </div>

</div>
<script>
    async function get_daily() {
        const date = (new Date()).getDate();
        const storedVersion = JSON.parse(localStorage.getItem('gary_daily'));

        if (storedVersion) {
            if (date == storedVersion.date) {
                return storedVersion.data
            }
        }
        
        const response = await fetch('/api/gary');
        const data = await response.json();

        localStorage.setItem('gary_daily', JSON.stringify({'date':date, 'data':data.data}));

        console.log("Fetching gary data to cache.");

        return data.data
    }

    async function give_gary_data() {
        const data = await get_daily();

        const entry = document.querySelector('div#gary-pokemon');
        entry.innerHTML = `
            <img src="https://img.pokemondb.net/sprites/home/${data.shiny || 'normal'}/${data.img || 'unown-em'}.png" style="width:auto; height:auto;">
            <a href="/species/${data.link || random}" style="font-size:160%; margin:10px; margin-top:0px;">${data.name || 'error'}</a>
        `;
    }

    document.addEventListener('DOMContentLoaded', () => {
        give_gary_data();
    })
</script>
{% endblock %}