{% extends 'header.html' %}

{% block title %}{{ moves[0].name }} - {{ super() }}{% endblock %}

{% block extra_head %}
    <script src="{{ url_for('static', filename='js/moves-specific.js') }}"></script>
{% endblock %}

{% block body %}
<main style="flex: 0;">

    <h1 style="border-bottom:1px solid #333; text-align:center;">{{ moves[0].name }} <span style="color:#bbb">(move)</span></h1>

    {% for move in moves %}
        <div id="move-entry" move="{{ move.id }}" desc="{{ move.desc }}" style="display:flex; flex-wrap:wrap; justify-content:flex-start;">
            <div id="basic-info" style="width:100%">
            </div>
        </div>
    {% endfor %}

</main>
{% endblock %}

