{% extends 'header.html' %}

{% block title %}Custom Moves - C&O Wiki{% endblock %}

{% block body %}
<main>
    <h2>Moves</h2>
    <p>All of the custom move data will go here. Eventually. Part way there already.</p>
    <p style="margin-top: 20px; color: #666; font-size: 14px; margin-bottom: 10px">Click on any column header to sort the table.</p>
    <div id="table"></div>
</main>
<script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
<script>
    const moves = {{ moves | tojson }};
    
    new gridjs.Grid({
        columns: [
        {name:"Name",width:"160px"},
        {name:"Type",width:"40px",formatter: (cell, row) => gridjs.html(`<div style="height:36px"><img src="/types/${cell}.png"></div>`)},
        {name:"Category",width:"56px",formatter: (cell, row) => gridjs.html(`<div style="height:36px; width:54px;"><img style="height:36px; width:54px" src="/categories/${cell}.png"></div>`)},
        {name:"PP",width:"50px"},
        {name:"Power",width:"70px"},
        {name:"Accuracy",width:"80px"},
        {name:"Target"},
        {name:"Flags"}],
        data: moves.map(emp => [
            emp.name,
            emp.type,
            emp.category,
            emp.pp,
            emp.basePower,
            emp.accuracy,
            emp.target,
            emp.flags
        ]),
        sort: true,
        style: {
            table: {
                border: '3px solid #fff',
                width: 'auto'
            },
            th: {
                'background-color': '#333',
                color: '#fff',
                'border-bottom': '3px solid #fff',
                padding: "4px"
            },
            td: {
                'background-color': '#000',
                color: '#fff',
                border: '1px solid #ccc',
                padding: "4px"
            }
        }
    }).render(document.getElementById('table'));
</script>
{% endblock %}