{% extends 'header.html' %}

{% block title %}Origins - {{ super() }}{% endblock %}

{% block extra_head %}
<style>
    .holder {display:flex; flex-wrap: wrap; justify-content:center; gap:1.5rem; padding:1.5rem 0.5rem;}
    .entry {border:2px solid white; border-radius:20px; min-width:220px; display:flex; align-items:center; justify-content:center; flex-direction:column; padding:0.5rem; gap:5px; flex:1;}
    .entry img {border-radius: 50%; width:120px; height:120px; object-fit:cover; }
    .positive {color:#2f2}
    .negative {color:#f22}
    .neutral {color:#ccc}
</style>
{% endblock %}

{% block body %}
<main style="flex: 0;">

    <h1 style="border-bottom:1px solid #333">Staff</h1>

    <div class="holder">
        <div class="entry">
            <a style="text-align:center; font-size:200%;">Human</a>
            <div>
                <i style="background:transparent" class="fa-regular fa-circle"></i>
                <i style="background:transparent" class="fa-regular fa-circle"></i>
                <i style="background:transparent" class="fa-regular fa-circle"></i>
            </div>
            <p style="text-decoration:none;">A human's fate is more open than most - venture forth with no benefits or drawbacks.</p>
        </div>
        <div class="entry">
            <a style="text-align:center; font-size:200%;">Avian</a>
            <div>
                <i style="background:transparent" class="fa-solid fa-circle"></i>
                <i style="background:transparent" class="fa-regular fa-circle"></i>
                <i style="background:transparent" class="fa-regular fa-circle"></i>
            </div>
            <p style="text-decoration:none;">The Avian race has lost their ability to fly a long time ago. Now these peaceful creatures can be seen gliding from one place to another.</p>
            <li class="positive"><div>
                <h2>Featherweight</h2>
                <p>You fall as gently to the ground as a feather would, unless you sneak.</p>
            </div></li>
            <li class="negative"><div>
                <h2>Fresh Air</h2>
                <p>When sleeping, your bed needs to be at an altitude of at least 86 blocks, so you can breathe fresh air.</p>
            </div></li>
            <li class="neutral"><div>
                <h2>Like Air</h2>
                <p>Modifiers to your walking speed also apply while you're airborne.</p>
            </div></li>
            <li class="positive"><div>
                <h2>Tailwind</h2>
                <p>You are a little bit quicker on foot than others.</p>
            </div></li>
            <li class="positive"><div>
                <h2>Oviparous</h2>
                <p>Whenever you wake up in the morning, you will lay an egg.</p>
            </div></li>
            <li class="negative"><div>
                <h2>Vegetarian</h2>
                <p>You can't digest any meat.</p>
            </div></li>
        </div>
        <div class="entry">
            <a style="text-align:center; font-size:200%;">Arachne</a>
            <div>
                <i style="background:transparent" class="fa-solid fa-circle"></i>
                <i style="background:transparent" class="fa-regular fa-circle"></i>
                <i style="background:transparent" class="fa-regular fa-circle"></i>
            </div>
            <p style="text-decoration:none;">A race of spider-like humanoids, arachne are known for their ability to climb walls and how extremely venomous they are. Arachne are often feared and live in isolation and trap their prey in webs before consuming them whole.</p>
            <li class="positive"><div>
                <h2>Venomous Bite</h2>
                <p>Anything you hit is inflicted with poison for 6 seconds.</p>
            </div></li>
            <li class="positive"><div>
                <h2>Web Shot <i style="background:transparent" class="fa-regular fa-burst"></i></h2>
                <p>Shoot forward a ball that explodes into a temporary web on impact to stop your foes from moving while they are trapped in it.</p>
            </div></li>
            <li class="positive"><div>
                <h2>Climbing</h2>
                <p>You are able to climb up any kind of wall, not just ladders.</p>
            </div></li>
            <li class="negative"><div>
                <h2>Carnivore</h2>
                <p>Your diet is restricted to meat, you can't eat vegetables.</p>
            </div></li>
            <li class="positive"><div>
                <h2>Poison Immunity</h2>
                <p>Your body has developed an immunity to poison due to the poison you produce.</p>
            </div></li>
            <li class="negative"><div>
                <h2>Inefficient Healing</h2>
                <p>The poison in your body causes healing on you to be 25% less effective, as it breaks down many nutrients you would normally rely on.</p>
            </div></li>
        </div>
        <div class="entry">
            <a style="text-align:center; font-size:200%;">Fae</a>
            <div>
                <i style="background:transparent" class="fa-solid fa-circle"></i>
                <i style="background:transparent" class="fa-regular fa-circle"></i>
                <i style="background:transparent" class="fa-regular fa-circle"></i>
            </div>
            <p style="text-decoration:none;">A race of mystical beings with magical abilities and a connection to the natural world, the fae are known for their mystical trickery and their ability to teleport. Fae are often elusive and can be difficult to track, but weak if you can finally catch them.</p>
            <li class="positive"><div>
                <h2>Warp <i style="background:transparent" class="fa-regular fa-burst"></i></h2>
                <p>You can teleport forward 20 blocks in the direction you are looking. This power has multiple charges which regenerate over time.</p>
            </div></li>
            <li class="negative"><div>
                <h2>Iron Weakness</h2>
                <p>Iron makes your body weak, causing you to be unable to wear any armour crafted with iron.</p>
            </div></li>
            <li class="neutral"><div>
                <h2>Small Size</h2>
                <p>You are smaller than the average human.</p>
            </div></li>
            <li class="negative"><div>
                <h2>Elegant</h2>
                <p>You are slowed by wearing heavy armor (This can be prevented with the featherweight enchantment), and have less health.</p>
            </div></li>
            <li class="positive"><div>
                <h2>Fae Magic</h2>
                <p>Your magical abilities are naturally more powerful than most, you have a 25% increase in spell damage.</p>
            </div></li>
        </div>
        <div class="entry">
            <a style="text-align:center; font-size:200%;">High Elf</a>
            <div>
                <i style="background:transparent" class="fa-solid fa-circle"></i>
                <i style="background:transparent" class="fa-regular fa-circle"></i>
                <i style="background:transparent" class="fa-regular fa-circle"></i>
            </div>
            <p style="text-decoration:none;">A nobel and magestic race that has a natural affinity for magic, high elves are known for their magical abilities and their connection to the arcane. High elves are often seen as elegant and refined, and are said to have a natural talent for magic. However, high elves are also known for their fragility and their weakness to physical damage, so they must rely on their magical abilities to protect themselves in combat.</p>
            <li class="positive"><div>
                <h2>Draw Essence <i style="background:transparent" class="fa-regular fa-burst"></i></h2>
                <p>By holding different items, high elves can channel the object's energy to unleash various magics.</p>
                <li>Glacial Step</li>
                <li>Void Warp: Press [C] while holding an ender pearl to rip through the fabric of reality and teleport yourself directly where you're looking, up to 50 blocks away.</li>
                <li>Instant Cure: Right click a villager with a golden apple to directly channel its healing energy without needing to weaken them.</li>
                <li>Blazenbreath: Press [C] while holding coal in either hand to shoot forth a weak cone of flame. Hold blaze powder instead fo shoot forth a moderate cone of flame. Scales with Fire Spell Power.</li>
                <li>Ebonbreath: Press [C] while holding bottled dragon's breath in either hand to shoot forth a cone of strong magical flame. Scales with Fire and Arcane Spell Power.</li>
            </div></li>
            <li class="positive"><div>
                <h2>Mystic Affinity</h2>
                <p>High Elves are powerful and clever manipulators of arcane energy - they deal more magic damage and take less magic damage than other races.</p>
            </div></li>
            <li class="negative"><div>
                <h2>Fragile</h2>
                <p>A High Elf is not built for hand to hand combat. They are much more susceptible to physical damage, and have less health.</p>
            </div></li>
            <li class="negative"><div>
                <h2>Elegant</h2>
                <p>You are slowed by wearing heavy armor (This can be prevented with the featherweight enchantment), and have less health.</p>
            </div></li>
            <li class="negative"><div>
                <h2>Vegetarian</h2>
                <p>You can't digest any meat.</p>
            </div></li>
        </div>
        <div class="entry">
            <a style="text-align:center; font-size:200%;">Tabaxi</a>
            <div>
                <i style="background:transparent" class="fa-solid fa-circle"></i>
                <i style="background:transparent" class="fa-regular fa-circle"></i>
                <i style="background:transparent" class="fa-regular fa-circle"></i>
            </div>
            <p style="text-decoration:none;">A race of feline humanoids, tabaxi are known for their agility and cunning. Tabaxi are often seen as curious and playful, and are said to have a natural talent for climbing and jumping. However, tabaxi are also known for their love of shiny objects and their tendency to get distracted by them, so they must be careful not to lose focus.</p>
            <li class="negative"><div>
                <h2>Agile Preference</h2>
                <p>Tabaxi prefer to wear only light armors for ease of movement. Heavier armors can be worn without penalty with an enchantment.</p>
            </div></li>
            <li class="positive"><div>
                <h2>On Your Feet</h2>
                <p>If, while landing, you are looking straight down, take no damage from the fall.</p>
            </div></li>
            <li class="positive"><div>
                <h2>Pounce</h2>
                <p>After briefly crouching without moving to charge up, a Tabaxi can leap forward a great distance. Striking an enemy during the pounce deals bonus damage.</p>
            </div></li>
            <li class="negative"><div>
                <h2>Carnivore</h2>
                <p>Your diet is restricted to meat, you can't eat vegetables.</p>
            </div></li>
            <li class="positive"><div>
                <h2>Velvet Paws</h2>
                <p>Your footsteps don't cause any vibrations which could otherwise be picked up by nearby lifeforms.</p>
            </div></li>
            <li class="negative"><div>
                <h2>Nine Lives</h2>
                <p>You have 1 less heart of health than humans.</p>
            </div></li>
            <li class="positive"><div>
                <h2>Strong Ankles</h2>
                <p>You are able to jump higher by jumping while sprinting.</p>
            </div></li>
            <li class="positive"><div>
                <h2>Catlike Appearance</h2>
                <p>Creepers are scared of you and will only explode if you attack them first.</p>
            </div></li>
            <li class="neutral"><div>
                <h2>Meow <i style="background:transparent" class="fa-regular fa-burst"></i></h2>
                <p>Self explanatory.</p>
            </div></li>
        </div>
        <div class="entry">
            <a style="text-align:center; font-size:200%;">Dragonborn</a>
            <div>
                <i style="background:transparent" class="fa-solid fa-circle"></i>
                <i style="background:transparent" class="fa-solid fa-circle"></i>
                <i style="background:transparent" class="fa-regular fa-circle"></i>
            </div>
            <p style="text-decoration:none;">A race of human and dragon descendant, dragonborn combine aspects of both species. Dragonborn are the closest thing left to the ancient flaming dragons, having the ability to fly and shot fire from their mouths. However, due to not having all the resistances of the ancient dragons, your flames get put out by water.</p>
            <li class="neutral"><div>
                <h2>Formidable Stature</h2>
                <p>You are bigger than most, at 2.5 blocks tall.</p>
            </div></li>
            <li class="positive"><div>
                <h2>Draconic Breath <i style="background:transparent" class="fa-regular fa-burst"></i></h2>
                <p>You are able to fire a small non-explosive fireball from your mouth which does damage and lights what it hits on fire.</p>
            </div></li>
        </div>
    </div>

</main>
{% endblock %}