{% extends 'species_table.html' %}


{% block title %}Species - {{ super() }}{% endblock %}

{% block main %}
<main>
    <h2>Species</h2>
    <p>All of the normal and fakemon species data will be listed here.</p>
    <p>Fakemon models are temporarily hidden to increase performance. Normal pokemon have Pokemon Home images.</p>
    <p style="margin-top: 20px; color: #666; font-size: 14px; margin-bottom: 10px">Click on any column header to sort the table.</p>
    <div id="table"></div>
</main>
{% endblock %}

{% block tabledata %}{{ species | tojson }}{% endblock %}