{% extends 'header.html' %}


{% block title %}EVs - {{ super() }}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/simpletable.css') }}">
{% endblock %}

{% block body %}
{% block main %}
<main>
    <h2>EV Yields</h2>
    <p>All of the normal pokemon and fakemons EV data is listed here.</p>
    <p>Please be patient with the styling, the library I use for sortable tables is horribly set up and it's irritating me.</p>
    <p style="margin-top: 20px; color: #666; font-size: 14px; margin-bottom: 10px">Click on any column header to sort the table.</p>
    <div id="table"></div>
</main>
{% endblock %}
<script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
<script>
    const species = {{ species | tojson }};
    
    const head = 'background:#333; color:#eee; border-bottom:3px solid #eee; padding:4px; '
    const a = 'border:1px solid #bbb; padding:4px; text-align:center; '
    const ev = 'color:#fff; font-weight:bold; '
    const no = 'color:#555; '
    const hp = 'background:#111a0b; '
    const hpno = 'background:#040801; '
    const atk = 'background:#221e0e; '
    const atkno = 'background:#0d0b03; '
    const def = 'background:#251810; '
    const defno = 'background:#0f0804; '
    const spa = 'background:#0f2125; '
    const spano = 'background:#040e10; '
    const spd = 'background:#141722; '
    const spdno = 'background:#06080d; '
    const spe = 'background:#2a1225; '
    const speno = 'background:#10050e; '

    console.log(species)

    new gridjs.Grid({
        columns: [
            {name:"Dex",width:"60px"}, 
            {name:"Name",width:"145px", formatter: (cell, row) => gridjs.html(`<a href='/species/${row.cells[11].data}'>${cell}</a>`)}, 
            {name:"Type",width:"82px", formatter: (cell, row) => {
                if (row.cells[3].data) {
                    return gridjs.html(`<div style="display:flex"><div style="height:36px; padding:0px 1px 0px 0px"><img src="/types/${cell}.png" title="${cell}" alt="${cell}"></div><div style="height:36px;"><img src="/types/${row.cells[3].data}.png" title="${row.cells[3].data}" alt="${row.cells[3].data}"></div></div>`)
                } else {
                    return gridjs.html(`<div style="height:36px"><img src="/types/${cell}.png" title="${cell}" alt="${cell}"></div>`)
                }
            }}, 
            {name:"Type2",width:"10px",hidden:true},
            {name:"Exp",width:"60px"},
            {name:"HP", attributes: (cell) => { if (cell) { return {'style': a+ev+hp} } else { if (cell==0) { return {'style': a+no+hpno}} else {return {'style': head}}}}},
            {name:"Attack", attributes: (cell) => { if (cell) { return {'style': a+ev+atk} } else { if (cell==0) { return {'style': a+no+atkno}} else {return {'style': head}} }}},
            {name:"Defence", attributes: (cell) => { if (cell) { return {'style': a+ev+def} } else { if (cell==0) { return {'style': a+no+defno}} else {return {'style': head}} }}},
            {name:"Sp.Attack", attributes: (cell) => { if (cell) { return {'style': a+ev+spa} } else { if (cell==0) { return {'style': a+no+spano}} else {return {'style': head}} }}},
            {name:"Sp.Defence", attributes: (cell) => { if (cell) { return {'style': a+ev+spd} } else { if (cell==0) { return {'style': a+no+spdno}} else {return {'style': head}} }}},
            {name:"Speed", attributes: (cell) => { if (cell) { return {'style': a+ev+spe} } else { if (cell==0) { return {'style': a+no+speno}} else {return {'style': head}} }}},
            {name:"internal_name",hidden:true}],
        data: species.map(emp => [
            emp.national_pokedex_number,
            emp.name,
            emp.types.primary,
            emp.types.secondary,
            emp.experience,
            emp.evs.hp,
            emp.evs.attack,
            emp.evs.defence,
            emp.evs.special_attack,
            emp.evs.special_defence,
            emp.evs.speed,
            emp.internal_name
        ]),
        sort: true,
        style: {
            table: {
                border: '3px solid #fff',
                width: '100%'
            },
            th: {
                'background-color': '#333',
                color: '#eee',
                'border-bottom': '3px solid #eee',
                padding: "4px"
            },
            td: {
                'background-color': '#0a0a0a',
                color: '#eee',
                border: '1px solid #bbb',
                padding: "4px"
            }
        }
    }).render(document.getElementById('table'));
</script>
{% endblock %}