{% extends 'header.html' %}

{% block title %}{{ species.name }} - C&O Wiki{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/stattable.css') }}">
<script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/4.1.0/model-viewer.min.js"></script>
{% endblock %}

{% block body %}
<main style="display: block">
    <h2>{{ species.name }}</h2>
    <p>Work in progress page for specific species data.</p>

    <table class="pokemon">
        <tbody>
            <tr>
                <th colspan="2" rowspan="2" class="text">
                    Stat
                </th>

                <th colspan="2" class="text">
                    Range
                </th>
            </tr>

            <tr>
                <th class="text">
                    <small>At Lv. 50</small>
                </th>
                <th class="text">
                    <small>At Lv. 100</small>
                </th>
            </tr>

            <tr style="background: #344d22; text-align:center">
                <th class="stat">
                    <div>HP:</div>
                    <div>{{ species.hp }}</div>
                </th>
                <td class="statbar">
                    <div class="health" style="width: calc(100% * {{ species.hp }} / 255)"></div>
                </td>
                <td><small>{{ species.stat_projections['50'].hp }}</small></td>
                <td><small>{{ species.stat_projections['100'].hp }}</small></td>
            </tr>

            <tr style="background: #4d4521; text-align:center">
                <th class="stat">
                    <div>Attack:</div>
                    <div>{{ species.attack }}</div>
                </th>
                <td class="statbar">
                    <div class="attack" style="width: calc(100% * {{ species.attack }} / 255)"></div>
                </td>
                <td><small>{{ species.stat_projections['50'].attack }}</small></td>
                <td><small>{{ species.stat_projections['100'].attack }}</small></td>
            </tr>

            <tr style="background: #4d3120; text-align:center">
                <th class="stat">
                    <div>Defense:</div>
                    <div>{{ species.defence }}</div>
                </th>
                <td class="statbar">
                    <div class="defence" style="width: calc(100% * {{ species.defence }} / 255)"></div>
                </td>
                <td><small>{{ species.stat_projections['50'].defence }}</small></td>
                <td><small>{{ species.stat_projections['100'].defence }}</small></td>
            </tr>

            <tr style="background: #1f434d; text-align:center">
                <th class="stat">
                    <div>Sp. Atk:</div>
                    <div>{{ species.special_attack }}</div>
                </th>
                <td class="statbar">
                    <div class="special_attack" style="width: calc(100% * {{ species.special_attack }} / 255)"></div>
                </td>
                <td><small>{{ species.stat_projections['50'].special_attack }}</small></td>
                <td><small>{{ species.stat_projections['100'].special_attack }}</small></td>
            </tr>

            <tr style="background: #2d344d; text-align:center">
                <th class="stat">
                    <div>Sp. Def:</div>
                    <div>{{ species.special_defence }}</div>
                </th>
                <td class="statbar">
                    <div class="special_defence" style="width: calc(100% * {{ species.special_defence }} / 255)"></div>
                </td>
                <td><small>{{ species.stat_projections['50'].special_defence }}</small></td>
                <td><small>{{ species.stat_projections['100'].special_defence }}</small></td>
            </tr>

            <tr style="background: #4d2444; text-align:center">
                <th class="stat">
                    <div>Speed:</div>
                    <div>{{ species.speed }}</div>
                </th>
                <td class="statbar">
                    <div class="speed" style="width: calc(100% * {{ species.speed }} / 255)"></div>
                </td>
                <td><small>{{ species.stat_projections['50'].speed }}</small></td>
                <td><small>{{ species.stat_projections['100'].speed }}</small></td>
            </tr>

            <tr>
                <th class="stat" style="width: 6.5em; background-color: #000">
                    <div>Total:</div>
                    <div>{{ species.total }}</div>
                </th>
                <th colspan="3" class="text"></th>
            </tr>

        </tbody>
    </table>
    
    <table class="roundy infobox" style="background:#666;width:33%;border:2px solid #fff;padding:2px;max-width:420px;text-align:center;">
        <tbody>
            <tr>
                <td colspan="2">
                    <table width="100%" class="roundy" style="background:#333; padding:2px; border-spacing:3px;">
                        <tbody>
                            <tr>
                                <td width="75%" class="roundy" style="background: #000">
                                    <table width="100%">
                                        <tbody>
                                            <tr>
                                                <td width="50%">
                                                    <big><big><b>{{ species.name }}</b></big></big>
                                                    <br>
                                                    <a>Seed Pokemon</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <th width="25%" class="roundy" style="background: #000">
                                    <big><big><a>#{{ species.national_pokedex_number }}</a></big></big>
                                </th>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <table width="100%" class="roundy" style="background: #000">
                                        <tbody>
                                            <tr>
                                                <td colspan="4">
                                                    <model-viewer alt="A 3D model of {{ species.name }}" src="{{ url_for('static/models', filename=species.internal_name) }}" camera-controls touch-action="pan-y" autoplay animation-name="animation.{{ species.internal_name }}.ground_idle" camera-orbit="-215deg 77deg 2.3m" camera-target="0m 0.3m 0m"></model-viewer>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4">
                                                    <p>Click-drag to rotate model</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="roundy" colspan="2" style="background:#333; padding:2px">
                    <b>Type</b>
                    <table class="roundy" width="100%" style="background:#000; padding-top:3px">
                        <tbody>
                            <tr>
                                <td>
                                    <table style="margin:auto; background:none;">
                                        <tbody>
                                            <tr>
                                                <td width="45px" class="typebox">
                                                    <span>
                                                        <b>Grass</b>
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

</main>
{% endblock %}