{% extends 'header.html' %}

{% block title %}{{ species_forms[0].name }} - C&O Wiki{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/typecolors.css') }}">
<script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/4.1.0/model-viewer.min.js"></script>
<script src="{{ url_for('static', filename='js/species-specific.js') }}"></script>
<style>
    table.pokemon {line-height: 1.5em; text-align: center; font-size: 100%; white-space: nowrap;}
    th.text {background-color: #000;}
    th.stat {padding-left: 0.2em;padding-right: 0.2em;display: flex;justify-content: space-between;}
    td.statbar {width: 255px}
    td.statbar .health {background-color: #69DC12;border: 1px solid #c6f8a0;height: 25px;}
    td.statbar .attack {background-color: #EFCC18;border: 1px solid #f5e9a3;height: 25px;}
    td.statbar .defence {background-color: #E86412;border: 1px solid #f8c2a0;height: 25px;}
    td.statbar .special_attack {background-color: #14C3F1;border: 1px solid #a0e6f8;height: 25px;}
    td.statbar .special_defence {background-color: #4A6ADF;border: 1px solid #b3bee6;height: 25px;}
    td.statbar .speed {background-color: #D51DAD;border: 1px solid #f3a5e1;height: 25px;}
    model-viewer {height: 300px; width: 100%;}
    .shiny-toggle {cursor: pointer; border: 1px solid #fff; background-color: #000;}
    .typebox {font-size: 85%; line-height:12px; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px; -icab-border-radius: 2px; -o-border-radius: 2px;}
    .switch {position: relative; width: 32px; height: 32px; margin: 8px; text-align:center;}
    .switch .toggle {position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #000; transition: .4s; border: 2px solid #fff; border-radius: 6px;}
    input:checked + .toggle {
        background-color: #fff
    }
    .evolutions > * {overflow-wrap:break-word;}
</style>
{% endblock %}

{% block body %}
<main style="display: block">
    
    {% for species in species_forms %}
    <table class="roundy infobox" style="background:#666;width:auto;border:2px solid #fff;padding:2px;text-align:center; margin:6px; max-width:360px">
        <tbody>
            <tr>
                <td colspan="2">
                    <table width="100%" class="roundy" style="background:#333; padding:2px; border-spacing:3px;">
                        <tbody>
                            <tr>
                                <td width="75%" class="roundy" style="background: #000">
                                    <table width="100%">
                                        <tbody>
                                            <tr>
                                                <td width="50%">
                                                    <big>
                                                        <big>
                                                            <b>{{ species.name }}</b>
                                                        </big>
                                                    </big>
                                                    <br>
                                                    <p>{{ species.category }} {% if species.is_fake or species.is_fake_form %}Fakemon{% else %}Pokemon{% endif %}</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <th width="25%" class="roundy" style="background: #000">
                                    <big>
                                        <big>
                                            <a href="/species">#{{ species.national_pokedex_number }}</a>
                                        </big>
                                    </big>
                                </th>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <table width="100%" class="roundy" style="background: #000">
                                        <tbody>
                                            <tr>
                                                <td colspan="4" style="display:flex; justify-content:center;">
                                                    <model-viewer id="pokemon" alt="{{ species.name }}" {% if not species.is_fake %} poster="https://img.pokemondb.net/sprites/home/normal/{{ species.alt_internal_name }}.png" {% endif %} camera-controls touch-action="pan-y" camera-orbit="-215deg 77deg 6px" camera-target="auto">
                                                        <label class="switch" id="shinyToggle" style="float:right;">
                                                            <input type="checkbox" imagename="{{ species.alt_internal_name }}">
                                                            <span class="toggle">✨</span>
                                                        </label>
                                                        <div style="float:left; margin:4px; gap:1px; display:flex;">
                                                            {% if species.primary_type %}
                                                                <img src="/types/{{ species.primary_type }}.png" title="{{ species.primary_type }}" alt="{{ species.primary_type }}">
                                                            {% endif %}
                                                            {% if species.secondary_type %}
                                                                <img src="/types/{{ species.secondary_type }}.png" title="{{ species.secondary_type }}" alt="{{ species.secondary_type }}">
                                                            {% endif %}
                                                        </div>
                                                    </model-viewer>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="roundy" colspan="1" style="background:#333; padding:2px; width:auto">
                    <b>Type</b>
                    <table class="roundy" width="100%" style="background:#000; padding-top:3px; height:60px">
                        <tbody>
                            <tr>
                                <td>
                                    <table style="margin:auto; background:none;">
                                        <tbody>
                                            <tr>
                                                {% if species.primary_type %}
                                                <td width="90px" height="25px" class="typebox {{ species.primary_type }}">
                                                    <a>
                                                        <span>
                                                            <p style="font-size:17px">{{ species.primary_type }}</p>
                                                        </span>
                                                    </a>
                                                </td>
                                                {% endif %}
                                                {% if species.secondary_type %}
                                                <td width="90px" height="25px" class="typebox {{ species.secondary_type }}">
                                                    <a>
                                                        <span>
                                                            <p style="font-size:17px">{{ species.secondary_type }}</p>
                                                        </span>
                                                    </a>
                                                </td>
                                                {% endif %}
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td class="roundy" colspan="1" style="background:#333; padding:2px; width:auto">
                    <b>Abilities</b>
                    <table class="roundy" width="100%" style="background:#000; padding-top:3px; height:60px">
                        <tbody>
                            <tr>
                                <td width="50%">
                                    <a>{{ species.ability_primary }}</a>
                                    {% if species.ability_secondary %}
                                    or
                                    <a>{{ species.ability_secondary }}</a>
                                    {% endif %}
                                </td>
                                {% if species.ability_hidden %}
                                <td width="50%">
                                    <a>{{ species.ability_hidden }}</a>
                                    <br>
                                    <small>Hidden Ability</small>
                                </td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table class="roundy pokemon" style="background: #333; padding:2px; border-spacing:3px">
                        <tbody>
                            <tr>
                                <th colspan="2" rowspan="2" class="roundy text">
                                    Stat
                                </th>

                                <th colspan="2" class="roundy text">
                                    Range
                                </th>
                            </tr>

                            <tr>
                                <th class="roundy text">
                                    <small>At Lv. 50</small>
                                </th>
                                <th class="roundy text">
                                    <small>At Lv. 100</small>
                                </th>
                            </tr>

                            <tr style="background: #111a0b; text-align:center">
                                <th class="roundy stat">
                                    <div>HP:</div>
                                    <div>{{ species.hp }}</div>
                                </th>
                                <td class="roundy statbar">
                                    <div class="roundy health" style="width: calc(100% * {{ species.hp }} / 255)"></div>
                                </td>
                                <td><small>{{ species.stat_projections['50'].hp }}</small></td>
                                <td><small>{{ species.stat_projections['100'].hp }}</small></td>
                            </tr>

                            <tr style="background: #221e0e; text-align:center">
                                <th class="roundy stat">
                                    <div>Attack:</div>
                                    <div>{{ species.attack }}</div>
                                </th>
                                <td class="roundy statbar">
                                    <div class="roundy attack" style="width: calc(100% * {{ species.attack }} / 255)"></div>
                                </td>
                                <td><small>{{ species.stat_projections['50'].attack }}</small></td>
                                <td><small>{{ species.stat_projections['100'].attack }}</small></td>
                            </tr>

                            <tr style="background: #251810; text-align:center">
                                <th class="roundy stat">
                                    <div>Defense:</div>
                                    <div>{{ species.defence }}</div>
                                </th>
                                <td class="roundy statbar">
                                    <div class="roundy defence" style="width: calc(100% * {{ species.defence }} / 255)"></div>
                                </td>
                                <td><small>{{ species.stat_projections['50'].defence }}</small></td>
                                <td><small>{{ species.stat_projections['100'].defence }}</small></td>
                            </tr>

                            <tr style="background: #0f2125; text-align:center">
                                <th class="roundy stat">
                                    <div>Sp. Atk:</div>
                                    <div>{{ species.special_attack }}</div>
                                </th>
                                <td class="roundy statbar">
                                    <div class="roundy special_attack" style="width: calc(100% * {{ species.special_attack }} / 255)"></div>
                                </td>
                                <td><small>{{ species.stat_projections['50'].special_attack }}</small></td>
                                <td><small>{{ species.stat_projections['100'].special_attack }}</small></td>
                            </tr>
                
                            <tr style="background: #141722; text-align:center">
                                <th class="roundy stat">
                                    <div>Sp. Def:</div>
                                    <div>{{ species.special_defence }}</div>
                                </th>
                                <td class="roundy statbar">
                                    <div class="roundy special_defence" style="width: calc(100% * {{ species.special_defence }} / 255)"></div>
                                </td>
                                <td><small>{{ species.stat_projections['50'].special_defence }}</small></td>
                                <td><small>{{ species.stat_projections['100'].special_defence }}</small></td>
                            </tr>
                
                            <tr style="background: #2c1427; text-align:center">
                                <th class="roundy stat">
                                    <div>Speed:</div>
                                    <div>{{ species.speed }}</div>
                                </th>
                                <td class="roundy statbar">
                                    <div class="roundy speed" style="width: calc(100% * {{ species.speed }} / 255)"></div>
                                </td>
                                <td><small>{{ species.stat_projections['50'].speed }}</small></td>
                                <td><small>{{ species.stat_projections['100'].speed }}</small></td>
                            </tr>
                
                            <tr>
                                <th class="roundy stat" style="width: 6.5em; background-color: #000">
                                    <div>Total:</div>
                                    <div>{{ species.total }}</div>
                                </th>
                                <th colspan="3" class="text"></th>
                            </tr>
                
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table style="width:100%">
                        <tbody>
                            <tr>
                                <td class="roundy" width="33%" colspan="1" style="background:#333; padding:2px">
                                    <b>Gender</b>
                                    <table class="roundy" width="100%" style="background:#000; padding-top:3px; height:60px">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    {% if species.male_ratio and species.male_ratio != -1 %}
                                                        {% if species.male_ratio == 1 %}
                                                            <div style="height:30px; border:2px solid #fff; border-radius:15px; background:#00f"></div>
                                                        {% elif species.male_ratio == 0 %}
                                                            <div style="height:30px; border:2px solid #fff; border-radius:15px; background:#f7d"></div>
                                                        {% else %}
                                                            <div style="height:30px; border:2px solid #fff; border-radius:15px; background:#f7d">
                                                                <div style="width: calc(100% * {{ species.male_ratio }}); height:100%; background:#00f; border-top-left-radius:15px; border-bottom-left-radius:15px"></div>
                                                            </div>
                                                        {% endif %}
                                                    {% else %}
                                                        <div style="height:30px; border:2px solid #fff; border-radius:15px; background:#aaa"></div>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td class="roundy" width="33%" colspan="1" style="background:#333; padding:2px; width:30%">
                                    <b>Height</b>
                                    <table class="roundy" width="100%" style="background:#000; padding-top:3px; height:60px">
                                        <tbody>
                                            <tr>
                                                <td width="50%">{{ (species.height // 3.048)|int }}' {{ ((((species.height / 3.048) - (species.height // 3.048)) * 12)|round(0, 'floor'))|int }}"</td>
                                                <td width="50%">{{ (species.height / 10)|round(2) }} m</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>

                                <td class="roundy" width="33%" colspan="1" style="background:#333; padding:2px; width:30%">
                                    <b>Weight</b>
                                    <table class="roundy" width="100%" style="background:#000; padding-top:3px; height:60px">
                                        <tbody>
                                            <tr>
                                                {% if species.weight == 1337 %}
                                                    <td width="50%">????.? lbs.</td>
                                                    <td width="50%">???.? kg</td>
                                                {% else %}
                                                    <td width="50%">{{ (species.weight * 0.22046)|round(1) }} lbs.</td>
                                                    <td width="50%">{{ species.weight / 10 }} kg</td>
                                                {% endif %}
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table style="width:100%">
                        <tbody>
                            <tr>
                                <td class="roundy" width="33%" colspan="1" style="background:#333; padding:2px">
                                    <b>Catch Rate</b>
                                    <table class="roundy" width="100%" style="background:#000; padding-top:3px; height:60px">
                                        <tbody>
                                            <tr>
                                                <td>{{ species.catch_rate }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td class="roundy" width="33%" colspan="1" style="background:#333; padding:2px; width:30%">
                                    <b>Egg Groups</b>
                                    <table class="roundy" width="100%" style="background:#000; padding-top:3px; height:60px">
                                        <tbody>
                                            <tr>
                                                <td>{{ species.egg_groups }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>

                                <td class="roundy" width="33%" colspan="1" style="background:#333; padding:2px; width:30%">
                                    <b>Leveling Rate</b>
                                    <table class="roundy" width="100%" style="background:#000; padding-top:3px; height:60px">
                                        <tbody>
                                            <tr>
                                                <td>{{ species.leveling_rate }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            {% if species.evolutions[0] or species.pre_evolution|length > 0 %}
            <tr>
                <td colspan="2">
                    <table style="width:100%">
                        <tbody>
                            <tr>
                                <td colspan="1" class="roundy" style="display:grid; background:#333;">
                                    <button id="collapseHead" class="roundy" style="background:transparent; padding:2px; padding-top:4px; cursor:pointer; border:0; color:white; font-size:100%; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;">
                                        <b style="font-weight:700;">Evolutions</b>
                                    </button>
                                    <table class="evolutions roundy" width="100%" style="padding-top:3px; height:auto;">
                                        <tbody>
                                            <tr id="collapseRow" style="display:flex; flex-direction:column; gap:4px; overflow:hidden; height:0;">
                                                {% for link, name in species.pre_evolution.items() %}
                                                    <td style="width:100%; background:#000; padding:4px;" class="roundy">
                                                        Pre-Evo: <a href="/species/{{ link }}">{{ name }}</a>
                                                    </td>
                                                {% endfor %}
                                                {% for evolution in species.evolutions %}
                                                    <td style="width:100%">
                                                        <table style="background:#000; width:100%; padding:4px;" class="roundy">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="border:1px solid #333" class="roundy"><p style="font-size:small; font-family: 'Courier New', 'Lucida Console', monospace; position:relative; top:2px;">{{ evolution.id }}</p></td>
                                                                    <td style="border:1px solid #333" class="roundy">Result: <a href="/species/{{ evolution.result_link or evolution.result }}">{{ evolution.result.title() }}</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="display:flex; flex-direction:column; flex-wrap:nowrap;">
                                                                        Learnable Moves
                                                                        <div style="border:1px solid #333; min-height:15px;" class="roundy">
                                                                            {% for move in evolution.learnableMoves %}
                                                                                <p style="margin:2px">{{ move }}</p>
                                                                            {% endfor %}
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        Requirements
                                                                        <div style="border:1px solid #333; background:#111; min-height:15px; padding:8px; gap:4px; display:grid;" class="roundy">
                                                                            <div style="border:1px dotted #333; background:#000;" class="roundy">
                                                                                <p>{{ evolution.variant.replace('_', ' ').title() }}</p>
                                                                                {% if evolution.requiredContext %}
                                                                                    {% if evolution.requiredContext_pokemon %}
                                                                                        <a href="/species/{{ evolution.requiredContext_pokemon }}">{{ evolution.requiredContext }}</a>
                                                                                    {% else %}
                                                                                        <p>{{ evolution.requiredContext }}</p>
                                                                                    {% endif %}
                                                                                {% endif %}
                                                                            </div>
                                                                            {% for requirement in evolution.requirements %}
                                                                                <div style="border:1px dotted #333; background:#000; max-width:180px;" class="roundy">
                                                                                    {% for key, value in requirement.items() %}
                                                                                        {% if requirement['variant'] and requirement['variant'] == "party_member" and key == "target" %}
                                                                                            <p style="margin:2px; display:inline;">{{ key }}: </p><a href="/species/{{ value }}">{{ value.title() }}</a>
                                                                                        {% else %}
                                                                                            <p style="margin:2px;">{{ key }}: {{ value }}</p>
                                                                                        {% endif %}
                                                                                    {% endfor %}
                                                                                </div>
                                                                            {% endfor %}
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                {% endfor %}
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            {% endif %}
            {% if species.drops[0] %}
            <tr>
                <td colspan="2">
                    <table style="width:100%">
                        <tbody>
                            <tr>
                                <td colspan="1" class="roundy" style="display:grid; background:#333;">
                                    <button id="collapseHead" class="roundy" style="background:transparent; padding:2px; padding-top:4px; cursor:pointer; border:0; color:white; font-size:100%; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;">
                                        <b style="font-weight:700;">Drops</b>
                                    </button>
                                    <table class="roundy" width="100%" style="padding-top:3px; height:auto;">
                                        <tbody>
                                            <tr id="collapseRow" style="display:flex; flex-direction:column; gap:4px; overflow:hidden; height:0;">
                                                <td style="width:100%">
                                                    <table style="background:#000; width:100%; padding:4px; font-family: 'Courier New', 'Lucida Console', monospace;" class="roundy">
                                                        <tbody>
                                                            <tr style="border:1px solid #333" class="roundy">
                                                                <td>
                                                                    <p>Drops {{ species.drop_amount }}x</p>
                                                                </td>
                                                            </tr>
                                                            <tr style="border:1px solid #333; display:flex; flex-direction:column;" class="roundy">
                                                                {% for drop in species.drops %}
                                                                    <td>
                                                                        <p style="position:relative; top:2px;">{{ drop }}</p>
                                                                    </td>
                                                                {% endfor %}
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            {% endif %}
            <tr>
                <td colspan="2">
                    <table style="width:100%">
                        <tbody>
                            <tr>
                                <td colspan="1" class="roundy" style="display:grid; background:#333;">
                                    <button id="collapseHead" class="roundy" style="background:transparent; padding:2px; padding-top:4px; cursor:pointer; border:0; color:white; font-size:100%; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;">
                                        <b style="font-weight:700;">Learnset</b>
                                    </button>
                                    <table class="roundy" width="100%" style="padding-top:3px; height:auto;">
                                        <tbody>
                                            <tr id="collapseRow" style="display:flex; flex-direction:column; gap:4px; overflow:hidden; height:0;">
                                                <td style="width:100%">
                                                    <table style="background:#000; width:100%; padding:4px; font-weight:300" class="roundy" cellspacing="0px">
                                                        <tbody id="learnset-tbody">
                                                            {% for move in species.level_moves %}
                                                                <tr move="{{ move.move }}" src="{{ move.level }}">
                                                                </tr>
                                                            {% endfor %}
                                                            <tr>
                                                                <td colspan="6" style="border:1px solid #333; height:0; padding:0;"></td>
                                                            </tr>
                                                            {% for move in species.tm_moves %}
                                                                <tr move="{{ move }}" src="TM">
                                                                </tr>
                                                            {% endfor %}
                                                            <tr>
                                                                <td colspan="6" style="border:1px solid #333; height:0; padding:0;"></td>
                                                            </tr>
                                                            {% for move in species.egg_moves %}
                                                                <tr move="{{ move }}" src="Egg">
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            {% if species.spawns[0] or species.fossils %}
            <tr>
                <td colspan="2">
                    <table style="width:100%">
                        <tbody>
                            <tr>
                                <td colspan="1" class="roundy" style="display:grid; background:#333;">
                                    <button id="collapseHead" class="roundy" style="background:transparent; padding:2px; padding-top:4px; cursor:pointer; border:0; color:white; font-size:100%; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;">
                                        <b style="font-weight:700;">Spawns</b>
                                    </button>
                                    <table class="evolutions roundy" width="100%" style="padding-top:3px; height:auto;">
                                        <tbody>
                                            <tr id="collapseRow" style="display:flex; flex-direction:column; gap:4px; overflow:hidden; height:0;">
                                                {% if species.fossils %}
                                                    <td style="width:100%; background:#000; padding:4px;" class="roundy">
                                                        {% for fossil in species.fossils %}
                                                            <a>{{ fossil }}</a>
                                                        {% endfor %}
                                                    </td>
                                                {% endif %}
                                                {% for spawn in species.spawns %}
                                                    <td style="width:100%">
                                                        <table style="background:#000; width:100%; padding:4px;" class="roundy">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="border:1px solid #333" class="roundy"><p style="font-size:small; font-family: 'Courier New', 'Lucida Console', monospace; position:relative; top:2px;">{{ spawn.id }}</p></td>
                                                                    <td colspan="2" style="border:1px solid #333" class="roundy">{{ spawn.bucket.title() }}</td>
                                                                </tr>
                                                                <tr>
                                                                    {% if spawn.weight %}<td style="border:1px solid #333" class="roundy">Chance: {{ spawn.weight }}</td>{% endif %}
                                                                    {% if spawn.level %}<td style="border:1px solid #333" class="roundy">Level: {{ spawn.level }}</td>{% endif %}
                                                                    {% if spawn.context %}<td style="border:1px solid #333" class="roundy">{{ spawn.context.title() }}</td>{% endif %}
                                                                </tr>
                                                                {% if spawn.presets %}
                                                                    <tr>
                                                                        <td colspan="3">
                                                                            Presets
                                                                            <div style="border:1px solid #333; background:#111; min-height:15px; padding:2px; gap:4px; display:grid;" class="roundy">
                                                                                {% for value in spawn.presets %}
                                                                                    <div style="border:1px dotted #333; background:#000;" class="roundy">
                                                                                        <p style="margin:2px; display:inline;">{{ value.title().replace('_',' ') }}</p>
                                                                                    </div>
                                                                                {% endfor %}
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                {% endif %}
                                                                {% if spawn.conditions %}
                                                                <tr>
                                                                    <td colspan="3">
                                                                        Conditions
                                                                        <div style="border:1px solid #333; background:#111; min-height:15px; padding:8px; gap:4px; display:grid;" class="roundy">
                                                                            {% for key, value in spawn.condition.items() %}
                                                                                <div style="border:1px dotted #333; background:#000;" class="roundy">
                                                                                    {% if value is iterable and value is not string and value is not mapping %}
                                                                                        <p style="margin:2px; display:inline;">{{ key }}:</p>
                                                                                        {% for entry in value %}
                                                                                            <p style="margin:2px;">{{ entry }}</p>
                                                                                        {% endfor %}
                                                                                    {% else %}
                                                                                        <p style="margin:2px; display:inline;">{{ key }}: {{ value }}</p>
                                                                                    {% endif %}
                                                                                </div>
                                                                            {% endfor %}
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                {% endif %}
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                {% endfor %}
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    {% endfor %}
    </div>

    <h2 style="width: 50%">{{ species_forms[0].name }}</h2>
    <p>Work in progress page for specific data on {{ species_forms[0].name }}.</p>
    <p>Not everything is on display yet.</p>
    <p style="margin-top:24px">Some information may be incorrect.</p>
    <p>If you find any information to be incorrect, please tell NoeSilent.</p>
    <p style="margin-top:24px">Pre-evolutions are spotty for fakemon, and will take some time to fix.</p>
    <p>Learnsets need some extra checking, as some datapacks make tiny alterations I haven't yet included.</p>


</main>

{% endblock %}