{% extends 'header.html' %}

{% block body %}
<main>
    <h2>Fakemon</h2>
    <p>All of the fakemon species data will go here. Eventually. Part way there already.</p>
    <p style="margin-top: 20px; color: #666; font-size: 14px; margin-bottom: 10px">Click on any column header to sort the table.</p>
    <div id="table"></div>
</main>
<script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
<script>
    const species = {{ species | tojson }};
    
    new gridjs.Grid({
        columns: [{name:"Dex",width:"50px"}, {name:"Name",width:"100px"}, {name:"Type1",width:"70px"}, {name:"Type2",width:"70px"}, {name:"HP",width:"50px"}, {name:"Atk",width:"50px"}, {name:"Def",width:"50px"}, {name:"SpA",width:"50px"}, {name:"SpD",width:"50px"}, {name:"Spe",width:"50px"}, {name:"BST",width:"50px"}],
        data: species.map(emp => [
            emp.national_pokedex_number,
            emp.name,
            emp.primary_type,
            emp.secondary_type,
            emp.hp,
            emp.attack,
            emp.defence,
            emp.special_attack,
            emp.special_defence,
            emp.speed,
            emp.total
        ]),
        sort: true,
        style: {
            table: {
                border: '3px solid #fff'
            },
            th: {
                'background-color': '#333',
                color: '#fff',
                'border-bottom': '3px solid #fff',
                padding: "4px"
            },
            td: {
                'background-color': '#000',
                color: '#fff',
                border: '1px solid #ccc',
                padding: "4px"
            }
        }
    }).render(document.getElementById('table'));
</script>
{% endblock %}