{% extends 'header.html' %}

{% block title %}{{ species.name }} - C&O Wiki{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/typecolors.css') }}">
<script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/4.1.0/model-viewer.min.js"></script>
<style>
    table.pokemon {line-height: 1.5em; text-align: center; font-size: 100%; white-space: nowrap;}
    th.text {background-color: #000;}
    th.stat {padding-left: 0.2em;padding-right: 0.2em;display: flex;justify-content: space-between;}
    td.statbar {width: 255px}
    td.statbar .health {background-color: #69DC12;border: 1px solid #c6f8a0;height: 25px;}
    td.statbar .attack {background-color: #EFCC18;border: 1px solid #f5e9a3;height: 25px;}
    td.statbar .defence {background-color: #E86412;border: 1px solid #f8c2a0;height: 25px;}
    td.statbar .special_attack {background-color: #14C3F1;border: 1px solid #a0e6f8;height: 25px;}
    td.statbar .special_defence {background-color: #4A6ADF;border: 1px solid #b3bee6;height: 25px;}
    td.statbar .speed {background-color: #D51DAD;border: 1px solid #f3a5e1;height: 25px;}
    model-viewer {height: 300px; width: 100%;}
    .shiny-toggle {cursor: pointer; border: 1px solid #fff; background-color: #000;}
    .typebox {font-size: 85%; line-height:12px; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px; -icab-border-radius: 2px; -o-border-radius: 2px;}
</style>
{% endblock %}

{% block body %}
<main style="display: block">
    
    <table class="roundy infobox" style="background:#666;width:45%;border:2px solid #fff;padding:2px;max-width:500px;text-align:center;">
        <tbody>
            <tr>
                <td colspan="2">
                    <table width="100%" class="roundy" style="background:#333; padding:2px; border-spacing:3px;">
                        <tbody>
                            <tr>
                                <td width="75%" class="roundy" style="background: #000">
                                    <table width="100%">
                                        <tbody>
                                            <tr>
                                                <td width="50%">
                                                    <big>
                                                        <big>
                                                            <b>{{ species.name }}</b>
                                                        </big>
                                                    </big>
                                                    <br>
                                                    <p>{{ species.category }} Pokemon</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <th width="25%" class="roundy" style="background: #000">
                                    <big>
                                        <big>
                                            <a href="/species">#{{ species.national_pokedex_number }}</a>
                                        </big>
                                    </big>
                                </th>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <table width="100%" class="roundy" style="background: #000">
                                        <tbody>
                                            <tr>
                                                <td colspan="4">
                                                    <model-viewer id="pokemon" alt="A 3D model of {{ species.name }}" src="/static/models/{{ species.internal_name }}.glb" camera-controls touch-action="pan-y" autoplay animation-name="animation.{{ species.internal_name}}.ground_idle" camera-orbit="-215deg 77deg 6px" camera-target="auto">
                                                        <button id="shinyToggle" class="shiny-toggle">
                                                            ✨
                                                        </button>
                                                    </model-viewer>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4">
                                                    <p>Click-drag to rotate model</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="roundy" colspan="1" style="background:#333; padding:2px; width:50%">
                    <b>Type</b>
                    <table class="roundy" width="100%" style="background:#000; padding-top:3px; height:60px">
                        <tbody>
                            <tr>
                                <td>
                                    <table style="margin:auto; background:none;">
                                        <tbody>
                                            <tr>
                                                {% if species.primary_type %}
                                                <td width="90px" height="25px" class="typebox {{ species.primary_type }}">
                                                    <a>
                                                        <span>
                                                            <p style="font-size:17px">{{ species.primary_type }}</p>
                                                        </span>
                                                    </a>
                                                </td>
                                                {% endif %}
                                                {% if species.secondary_type %}
                                                <td width="90px" height="25px" class="typebox {{ species.secondary_type }}">
                                                    <a>
                                                        <span>
                                                            <p style="font-size:17px">{{ species.secondary_type }}</p>
                                                        </span>
                                                    </a>
                                                </td>
                                                {% endif %}
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td class="roundy" colspan="1" style="background:#333; padding:2px; width:50%">
                    <b>Abilities</b>
                    <table class="roundy" width="100%" style="background:#000; padding-top:3px; height:60px">
                        <tbody>
                            <tr>
                                <td width="50%">
                                    <a>{{ species.ability_primary }}</a>
                                    {% if species.ability_secondary %}
                                    or
                                    <a>{{ species.ability_secondary }}</a>
                                    {% endif %}
                                </td>
                                {% if species.ability_hidden %}
                                <td width="50%">
                                    <a>{{ species.ability_hidden }}</a>
                                    <br>
                                    <small>Hidden Ability</small>
                                </td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <!--
            <tr>
                <td class="roundy" colspan="2" style="background:#333; padding:2px">
                    <b>Abilities</b>
                    <table class="roundy" width="100%" style="background:#000; padding-top:3px">
                        <tbody>
                            <tr>
                                <td width="50%">
                                    <a>{{ species.ability_primary }}</a>
                                    {% if species.ability_secondary %}
                                    or
                                    <a>{{ species.ability_secondary }}</a>
                                    {% endif %}
                                </td>
                                {% if species.ability_hidden %}
                                <td width="50%">
                                    <a>{{ species.ability_hidden }}</a>
                                    <br>
                                    <small>Hidden Ability</small>
                                </td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            -->
            <tr>
                <td colspan="2">
                    <table class="roundy pokemon" style="background: #333; padding:2px; border-spacing:3px">
                        <tbody>
                            <tr>
                                <th colspan="2" rowspan="2" class="roundy text">
                                    Stat
                                </th>

                                <th colspan="2" class="roundy text">
                                    Range
                                </th>
                            </tr>

                            <tr>
                                <th class="roundy text">
                                    <small>At Lv. 50</small>
                                </th>
                                <th class="roundy text">
                                    <small>At Lv. 100</small>
                                </th>
                            </tr>

                            <tr style="background: #111a0b; text-align:center">
                                <th class="roundy stat">
                                    <div>HP:</div>
                                    <div>{{ species.hp }}</div>
                                </th>
                                <td class="roundy statbar">
                                    <div class="roundy health" style="width: calc(100% * {{ species.hp }} / 255)"></div>
                                </td>
                                <td><small>{{ species.stat_projections['50'].hp }}</small></td>
                                <td><small>{{ species.stat_projections['100'].hp }}</small></td>
                            </tr>

                            <tr style="background: #221e0e; text-align:center">
                                <th class="roundy stat">
                                    <div>Attack:</div>
                                    <div>{{ species.attack }}</div>
                                </th>
                                <td class="roundy statbar">
                                    <div class="roundy attack" style="width: calc(100% * {{ species.attack }} / 255)"></div>
                                </td>
                                <td><small>{{ species.stat_projections['50'].attack }}</small></td>
                                <td><small>{{ species.stat_projections['100'].attack }}</small></td>
                            </tr>

                            <tr style="background: #251810; text-align:center">
                                <th class="roundy stat">
                                    <div>Defense:</div>
                                    <div>{{ species.defence }}</div>
                                </th>
                                <td class="roundy statbar">
                                    <div class="roundy defence" style="width: calc(100% * {{ species.defence }} / 255)"></div>
                                </td>
                                <td><small>{{ species.stat_projections['50'].defence }}</small></td>
                                <td><small>{{ species.stat_projections['100'].defence }}</small></td>
                            </tr>

                            <tr style="background: #0f2125; text-align:center">
                                <th class="roundy stat">
                                    <div>Sp. Atk:</div>
                                    <div>{{ species.special_attack }}</div>
                                </th>
                                <td class="roundy statbar">
                                    <div class="roundy special_attack" style="width: calc(100% * {{ species.special_attack }} / 255)"></div>
                                </td>
                                <td><small>{{ species.stat_projections['50'].special_attack }}</small></td>
                                <td><small>{{ species.stat_projections['100'].special_attack }}</small></td>
                            </tr>
                
                            <tr style="background: #141722; text-align:center">
                                <th class="roundy stat">
                                    <div>Sp. Def:</div>
                                    <div>{{ species.special_defence }}</div>
                                </th>
                                <td class="roundy statbar">
                                    <div class="roundy special_defence" style="width: calc(100% * {{ species.special_defence }} / 255)"></div>
                                </td>
                                <td><small>{{ species.stat_projections['50'].special_defence }}</small></td>
                                <td><small>{{ species.stat_projections['100'].special_defence }}</small></td>
                            </tr>
                
                            <tr style="background: #2c1427; text-align:center">
                                <th class="roundy stat">
                                    <div>Speed:</div>
                                    <div>{{ species.speed }}</div>
                                </th>
                                <td class="roundy statbar">
                                    <div class="roundy speed" style="width: calc(100% * {{ species.speed }} / 255)"></div>
                                </td>
                                <td><small>{{ species.stat_projections['50'].speed }}</small></td>
                                <td><small>{{ species.stat_projections['100'].speed }}</small></td>
                            </tr>
                
                            <tr>
                                <th class="roundy stat" style="width: 6.5em; background-color: #000">
                                    <div>Total:</div>
                                    <div>{{ species.total }}</div>
                                </th>
                                <th colspan="3" class="text"></th>
                            </tr>
                
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <h2>{{ species.name }}</h2>
    <p>Work in progress page for specific species data.</p>

    <!--
    <table class="pokemon">
        <tbody>
            <tr>
                <th colspan="2" rowspan="2" class="text">
                    Stat
                </th>

                <th colspan="2" class="text">
                    Range
                </th>
            </tr>

            <tr>
                <th class="text">
                    <small>At Lv. 50</small>
                </th>
                <th class="text">
                    <small>At Lv. 100</small>
                </th>
            </tr>

            <tr style="background: #344d22; text-align:center">
                <th class="stat">
                    <div>HP:</div>
                    <div>{{ species.hp }}</div>
                </th>
                <td class="statbar">
                    <div class="health" style="width: calc(100% * {{ species.hp }} / 255)"></div>
                </td>
                <td><small>{{ species.stat_projections['50'].hp }}</small></td>
                <td><small>{{ species.stat_projections['100'].hp }}</small></td>
            </tr>

            <tr style="background: #4d4521; text-align:center">
                <th class="stat">
                    <div>Attack:</div>
                    <div>{{ species.attack }}</div>
                </th>
                <td class="statbar">
                    <div class="attack" style="width: calc(100% * {{ species.attack }} / 255)"></div>
                </td>
                <td><small>{{ species.stat_projections['50'].attack }}</small></td>
                <td><small>{{ species.stat_projections['100'].attack }}</small></td>
            </tr>

            <tr style="background: #4d3120; text-align:center">
                <th class="stat">
                    <div>Defense:</div>
                    <div>{{ species.defence }}</div>
                </th>
                <td class="statbar">
                    <div class="defence" style="width: calc(100% * {{ species.defence }} / 255)"></div>
                </td>
                <td><small>{{ species.stat_projections['50'].defence }}</small></td>
                <td><small>{{ species.stat_projections['100'].defence }}</small></td>
            </tr>

            <tr style="background: #1f434d; text-align:center">
                <th class="stat">
                    <div>Sp. Atk:</div>
                    <div>{{ species.special_attack }}</div>
                </th>
                <td class="statbar">
                    <div class="special_attack" style="width: calc(100% * {{ species.special_attack }} / 255)"></div>
                </td>
                <td><small>{{ species.stat_projections['50'].special_attack }}</small></td>
                <td><small>{{ species.stat_projections['100'].special_attack }}</small></td>
            </tr>

            <tr style="background: #2d344d; text-align:center">
                <th class="stat">
                    <div>Sp. Def:</div>
                    <div>{{ species.special_defence }}</div>
                </th>
                <td class="statbar">
                    <div class="special_defence" style="width: calc(100% * {{ species.special_defence }} / 255)"></div>
                </td>
                <td><small>{{ species.stat_projections['50'].special_defence }}</small></td>
                <td><small>{{ species.stat_projections['100'].special_defence }}</small></td>
            </tr>

            <tr style="background: #4d2444; text-align:center">
                <th class="stat">
                    <div>Speed:</div>
                    <div>{{ species.speed }}</div>
                </th>
                <td class="statbar">
                    <div class="speed" style="width: calc(100% * {{ species.speed }} / 255)"></div>
                </td>
                <td><small>{{ species.stat_projections['50'].speed }}</small></td>
                <td><small>{{ species.stat_projections['100'].speed }}</small></td>
            </tr>

            <tr>
                <th class="stat" style="width: 6.5em; background-color: #000">
                    <div>Total:</div>
                    <div>{{ species.total }}</div>
                </th>
                <th colspan="3" class="text"></th>
            </tr>

        </tbody>
    </table>
    -->

</main>

<script type="module">
    const modelViewerTexture1 = document.querySelector("model-viewer#pokemon");

    modelViewerTexture1.addEventListener("load", () => {
        const material = modelViewerTexture1.model.materials[0];
        const baseTexture = material.pbrMetallicRoughness.baseColorTexture.texture;

        let isShiny = false;

        const toggleShiny = async (channel, event) => {
            if (isShiny) {
                await material.pbrMetallicRoughness.baseColorTexture.setTexture(baseTexture);
                isShiny = false;
            } else {
                const texture = await modelViewerTexture1.createTexture('');
                await material.pbrMetallicRoughness.baseColorTexture.setTexture(texture);
                isShiny = true;
            }
        }

        document.querySelector("#shinyToggle").addEventListener('click', () => {
            toggleShiny()
        })
    })
</script>

{% endblock %}