{% extends 'header.html' %}

{% block title %}Staff - {{ super() }}{% endblock %}

{% block extra_head %}
<style>
    .holder {display:flex; flex-wrap: wrap; justify-content:center; gap:1.5rem; padding:1.5rem 0.5rem;}
    .entry {border:2px solid white; border-radius:20px; min-width:220px; display:flex; align-items:center; justify-content:center; flex-direction:column; padding:0.5rem; gap:5px; flex:1;}
    .entry img {border-radius: 50%; width:120px; height:120px; object-fit:cover; }
</style>
{% endblock %}

{% block body %}
<main style="flex: 0;">

    <h1 style="border-bottom:1px solid #333">Staff</h1>

    <div class="holder">
        <div class="entry">
            <img src="https://cdn.discordapp.com/avatars/990786248471896125/63c548e6d278c40b96846546d2938c66.webp?size=256">
            <a style="text-align:center; font-size:200%;">duder65</a>
            <p style="text-decoration:none;">Owner</p>
        </div>
        <div class="entry">
            <img src="https://cdn.discordapp.com/avatars/515584466329141259/7189492665dc414ed392df7119cee285.webp?size=256">
            <a style="text-align:center; font-size:200%;">NoeSilent</a>
            <p style="text-decoration:none;">Admin / Dev</p>
        </div>
        <div class="entry">
            <img src="https://cdn.discordapp.com/avatars/465949892326588418/b4bbc568c7cc0fa778817d10494e7bcc.webp?size=256">
            <a style="text-align:center; font-size:200%;">zZzBellazZz</a>
            <p style="text-decoration:none;">Admin</p>
        </div>
        <div class="entry">
            <img src="https://cdn.discordapp.com/avatars/1058764565258715206/ae092bf013da36d970e85655a30fa5dd.webp?size=256">
            <a style="text-align:center; font-size:200%;">swamp</a>
            <p style="text-decoration:none;">Moderator</p>
        </div>
        <div class="entry">
            <img src="https://cdn.discordapp.com/avatars/694688753087676436/c107539b64e9d29d2f4598d44bfe0802.webp?size=256">
            <a style="text-align:center; font-size:200%;">Cashew</a>
            <p style="text-decoration:none;">Moderator</p>
        </div>
        <div class="entry">
            <img src="https://cdn.discordapp.com/avatars/990965984892440626/dd0fa38bd2bb3f2df8f91b951844d417.webp?size=256">
            <a style="text-align:center; font-size:200%;">min</a>
            <p style="text-decoration:none;">Moderator</p>
        </div>
        <div class="entry">
            <img src="https://cdn.discordapp.com/avatars/1443400996809347197/4414056296f6a382f7125a892e9d8ae1.webp?size=256">
            <a style="text-align:center; font-size:200%;">Vensumih</a>
            <p style="text-decoration:none;">Moderator</p>
        </div>
        <div class="entry">
            <img src="https://cdn.discordapp.com/guilds/1341485938181931098/users/397877129129361419/avatars/24a15ae36b9c235aea2551b94e193c10.webp?size=256">
            <a style="text-align:center; font-size:200%;">ITL Supress</a>
            <p style="text-decoration:none;">Dev</p>
        </div>
    </div>

</main>
{% endblock %}