<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<style>
.roundy {border-radius:10px;}
.infobox {box-sizing:border-box;float:right;width:400px;max-width:50%;}
.typebox {font-size: 85%; line-height:12px; background: #3FA129; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px; -icab-border-radius: 2px; -o-border-radius: 2px;}
</style>
</head>
<body>

<h1>This is a Heading</h1>
<p>This is a paragraph.</p>
<table class="roundy infobox" style="background:#3fa129;width:33%;border:2px solid #5e2a84;padding:2px;max-width:420px;text-align:center;">
<tbody>



<tr>
<td colspan="2">
<table class="roundy">
<tbody>

<tr>
<td width="75%" class="roundy" style="background: #fff">
<table width="100%">
<tbody>
<tr>

<td width="50%">
<h2>Bulbasaur</h2>
<br>
<a>Seed Pokemon</a>
</td>

</tr>
</tbody>
</table>
</td>

<th width="25%" class="roundy" style="background: #fff">
<h2>
#0001
</h2>
</th>
</tr>

<tr>
<td colspan="2">
<table width="100%" class="roundy" style="background: #fff">
<tbody>

<tr>
<td colspan="4">
<img src="https://archives.bulbagarden.net/media/upload/thumb/f/fb/0001Bulbasaur.png/250px-0001Bulbasaur.png">
</td>
</tr>
<tr>
<td colspan="4">
<a>
Images on the Bulbagarden Archives
</a>
</td>
</tr>

</tbody>
</table>
</td>
</tr>

</tbody>

</table>
</td>
</tr>


<tr>
<td class="roundy" colspan="2" style="background:#82C274; padding:2px">
<b>Type</b>
<table class="roundy" width="100%" style="background:#fff; padding-top:3px">
<tbody>
<tr><td>
<table style="margin:auto; background:none;">
<tbody>
<tr>

<td width="45px" class="typebox"><span style="color:#fff"><b>Grass</b></span></td>

</tr>
</tbody>
</table>
</td></tr>
</tbody>
</table>
</td>
</tr>



</tbody>
</table>

</body>
</html>
